@import "tailwindcss";

/* --------------------------
   Theme Tokens (Tailwind v4)
--------------------------- */

@theme {
  /* Colors */
  --color-bg-dark: #141414;
  --color-bg-light: #e0dbf8;

  --color-primary: #5a00d4;
  --color-secondary: #dfff00;
  --color-accent: #00bcd4;
  --color-grey: #9e9e9e;

  /* Fonts */
  --font-display: var(--font-geist-sans);
  --font-body: var(--font-jaldi);
  --font-label: var(--font-geist-mono);
}

/* --------------------------
   Dark Mode (Class Based)
--------------------------- */

.dark {
  --color-bg-dark: #1b1b1b;
  --color-bg-light: #B49AD0;

  --color-primary: #7e4fff;
  --color-secondary: #e5ff00;
  --color-accent: #00bcd4;
  --color-grey: #b0b0b0;
}

/* --------------------------
   Global Styles
--------------------------- */

html,
body {
  cursor: none !important;
}

a,
button,
[role="button"],
input,
select,
textarea {
  cursor: none !important;
}

body {
  background-color: #6a666b;
  color: var(--color-accent);
  font-family: var(--font-body), Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display), sans-serif;
}

label,
small {
  font-family: var(--font-label), monospace;
}